<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="refresh" content="0;URL=../../../flow_sdk/prelude/struct.CreateAccountWeightedTransaction.html">
    <title>Redirection</title>
</head>
<body>
    <p>Redirecting to <a href="../../../flow_sdk/prelude/struct.CreateAccountWeightedTransaction.html">../../../flow_sdk/prelude/struct.CreateAccountWeightedTransaction.html</a>...</p>
    <script>location.replace("../../../flow_sdk/prelude/struct.CreateAccountWeightedTransaction.html" + location.search + location.hash);</script>
</body>
</html>